<!doctype html>
<html>

	<head>
		<meta name='viewport' content='initial-scale=1, maximum-scale=1'>
		<link rel='stylesheet' href='./../public/stylesheets/navbar.css'>
		<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src='./../public/js/navbar.js'></script>
	</head>

	<nav class='clearfix'>
		<ul class='clearfix'>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Technology</a></li>
			<li><a href="#">Design</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<a href='#' id='pull'>Menu</a>
	</nav>

</html